@supports (grid-area:auto) {

/* body, html{
  cursor: url('../img/cursor2.png'), auto;
} */

#site{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 75px 500px 200px 500px 500px 500px 200px 300px 500px;
  grid-template-areas:
  "nv nv nv nv nv nv nv"
  "pic1 pic1 pic1 pic1 pic1 pic1"
  "yt yt yt yt yt"
  "books books books books books"
  "p2 p2 p2 p2 p2 p2 p2"
  "news news news news news"
  "ft ft ft ft ft ft ft";
}

#nav{
  grid-row: 1;
  grid-column: 1/8;
  overflow: hidden;
  position: fixed;
  top: 0;
  background: rgba(70,43,53,0.75);
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}
#main-title{
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  justify-content: center;
}
#pic1{
  grid-row: 2;
  grid-column: 1/8;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#intro{
  grid-row: 3;
  grid-column: 2/7;
  font-size: 20px;
}

#player{
  grid-row: 4;
  grid-column: 2/7;
  width: 100%;
  margin-top: 30px;
}

#second-paragraph{
  grid-row: 5;
  grid-column: 2/7;
  font-size: 20px;
  margin-top: 30px;
}

#viewerCanvas{
  grid-row: 6;
  grid-column: 2/7;
  margin-top: 50px;
}
#third-paragraph{
  grid-row: 7;
  grid-column: 2/7;
  font-size: 20px;
  margin-top: 30px;
}
#footer{
  grid-row: 8;
  grid-column: 1/8;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#news-title{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #462B35;
}
#news {
  grid-row: 9;
  grid-column: 2/7;
  margin-top: 50px;
}

a{
  text-decoration: none;
  color: #000000;
  cursor: url(../img/cursor.jpg)!important;
}
.latest-news{
  border: 1px solid #D2BDD0;
  padding: 10px;
  margin: 10px;
  box-shadow:  2px 2px 5px #ECD6EA;
  background: white;
}

.thumbnail{
  flex-basis: 80%;
  max-width: 50%;
  height: auto;
  margin-right: 5px;
}

.text{
  flex-basis: 80%;
}

#myModal {
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(247,232,247,0.5);
}
#myModal1{
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(247,232,247,0.5);
}
#myModal2{
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(247,232,247,0.5);
}
.modal-content{
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  border: 3px solid #F1ADEA;
  width: 70%;
}
.close{
  color: #462B35;
  float: right;
  font-size: 30px;
  font-weight: bold;
}
.close1{
  color: #462B35;
  float: right;
  font-size: 30px;
  font-weight: bold;
}
.close2{
  color: #462B35;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

#myBtn{
  max-height: 60px;
  width: auto;
  background-color: #462B35;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  border-radius: 5px;
}

#summer{
  height: 300px;
  width: auto;
  display: flex;
}
#winter{
  height: 300px;
  width: auto;
  display: flex;
}
.modal-text{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #462B35;
}
.link{
  color: #E65B6E;
}
#picture-modal-1, #picture-modal-2{
  color: #E65B6E;
}
#picture-modal-1:hover{
  cursor: pointer;
}
#picture-modal-2:hover{
  cursor: pointer;
}

ul{
  list-style-type: none;
}

.source{
  color: #E65B6E;
}

.source:hover{
  text-decoration: underline;
}

}
